Django
django-cors-headers
django-filter  # Recommended by Django REST framework
djangorestframework
djoser  # REST implementation of Django authentication system
Markdown  # Recommended by Django REST framework
PyYAML  # Required by DRF to generate OpenAPI schema
