dj-database-url==1.2.0
Django>=4.2,<5.0  # 4.2 is LTS version, support ending in April 2026
django-cors-headers==3.13.0
django-filter==24.2  # Recommended by Django REST framework
djangorestframework==3.14.0
djoser==2.2.2  # REST implementation of Django authentication system
logtail-python==0.2.10
Markdown==3.6  # Recommended by Django REST framework
psycopg2-binary==2.9.5
PyYAML==6.0.1  # Required by DRF to generate OpenAPI schema
whitenoise==6.6.0  # For serving static files without configuring web server
